/* Navbar */
  .main {
    padding: 2rem 0 2rem;
    backdrop-filter: brightness(50%);
  }

  .other {
    padding: 2rem 0 2rem;
    backdrop-filter: brightness(0%);
  }
  
  .navbar-brand {
    font-family: "Kalam";
    font-size: 2rem;
    font-weight: bold;
  }
  
  .nav-item {
    padding: 0 18px;
  }
  
  .nav-link {
    font-size: 1.8rem;
    font-family: "Montserrat-Light";
    color: #ca9670;
  }  

  .nav-hover {
    color: #ca9670 !important;
  }
  .navbar-nav > li > a:hover {
    color: #fba35d ;
  }

/* Headings */


h1 {
  color:#F3E99F;
  font-size: 4rem;
  font-family: "Rajdhani";
    font-weight: 700;
    padding: 3rem 15rem 0;
    margin-bottom: -.1px;
    backdrop-filter: brightness(90%);
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  }

  h3 { 
    color:#F3E99F;
    font-size: 2rem;
    font-family: "Rajdhani";
    font-weight: 700;
    padding: 3rem 15rem 0;
    margin-bottom: -.1px;
    backdrop-filter: brightness(90%);
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  }

  h4,a {
    color: grey;
    text-align: center;
    font-size: 1.3rem;
    font-family: "Rajdhani";
    padding: 0.5rem 1rem 1rem;    
  }
  
/* Others */

  #Title {
    background-image: url("Logos/wp8191806-anime-library-4k-wallpapers.jpg");
    background-size: 96rem;
    background-repeat: no-repeat;
    height: 100%;
  }


  .dropbox {
    height: 198px;
  }

  .logo {
    height: 165px;
  }
  
  .logo:hover {
    background-color: #fba35d;
  }

  #Content {
    padding: 2rem 10rem 2rem;
  }

  .content-box {
    padding: 0.5rem 0 1rem;
    text-align: center;
  }

  .barrier-logo {
    display: block;
    height: 100px;
    margin: 0 auto;
  }

  .barrier {
    color: #000000;
    font-size: 1.5rem;
    font-size: 20px;
    text-align: center;
  }

  @media screen and (max-width: 420px) {

  .main {
    padding: 2rem 0 2rem;
    backdrop-filter: brightness(10%);
  }

    
  h1 {
    color:black;
    font-size: 2rem;
    font-family: "Rajdhani";
    font-weight: 700;
    padding: 3rem 5rem 2rem;
    margin-bottom: -.1px;
    backdrop-filter: brightness(100%);
    text-shadow: 0 0 0;
  }

  h3 { 
    color:black;
    font-size: 1.3rem;
    font-family: "Rajdhani";
    font-weight: 700;
    padding: 1rem 5rem 2rem;
      margin-bottom: -.1px;
      backdrop-filter: brightness(100%);
      text-shadow: 0 0 0;
    }

    h4,a {
      color: grey;
      text-align: center;
      font-size: 1.3rem;
      font-family: "Rajdhani";
      padding: 0.5rem 0.3em 1rem;    
    }
    
    .dropbox {
      height: 90px;
    }

    #Title {
      background-image: none;
      height: 100%;
    }

    #Content {
      padding: 2rem 7.3rem 2rem;
    }

    .content-box {
      padding: 0.5rem 1.5rem 1rem;
    }


  }

  @media screen and (min-width: 421px ) and (max-width: 500px) {

    .main {
      padding: 2rem 0 2rem;
      backdrop-filter: brightness(10%);
    }
  
      
    h1 {
      color:black;
      font-size: 2rem;
      font-family: "Rajdhani";
      font-weight: 700;
      padding: 3rem 5rem 2rem;
      margin-bottom: -.1px;
      backdrop-filter: brightness(100%);
      text-shadow: 0 0 0;
    }
  
    h3 { 
      color:black;
      font-size: 1.3rem;
      font-family: "Rajdhani";
      font-weight: 700;
      padding: 1rem 5rem 2rem;
        margin-bottom: -.1px;
        backdrop-filter: brightness(100%);
        text-shadow: 0 0 0;
      }
  
      h4,a {
        color: grey;
        text-align: center;
        font-size: 1.3rem;
        font-family: "Rajdhani";
        padding: 0.5rem 0.3em 1rem;    
      }
      
      .dropbox {
        height: 90px;
      }
  
      #Title {
        background-image: none;
        height: 100%;
      }
  
      #Content {
        padding: 2rem 7.3rem 2rem;
      }
  
      .content-box {
        padding: 0.5rem 1.5rem 1rem;
      }
  
  
    }

  @media screen and (min-width: 750px) and (max-width: 900px) {

    .main {
      padding: 2rem 0 2rem;
      backdrop-filter: brightness(10%);
    }
    
        
    h1 {
      color:black;
      font-size: 2rem;
      font-family: "Rajdhani";
      font-weight: 700;
      padding: 3rem 5rem 2rem;
      margin-bottom: -.1px;
      backdrop-filter: brightness(100%);
      text-shadow: 0 0 0;
    }
    
    h3 { 
      color:black;
      font-size: 1.3rem;
      font-family: "Rajdhani";
      font-weight: 700;
      padding: 1rem 5rem 2rem;
      margin-bottom: -.1px;
      backdrop-filter: brightness(100%);
      text-shadow: 0 0 0;
    }
    
    h4,a {
      color: grey;
      text-align: center;
      font-size: 1.3rem;
      font-family: "Rajdhani";
      padding: 0.5rem 0.3em 1rem;    
    }
      
    .dropbox {
      height: 90px;
    }
    
    #Title {
      background-image: none;
      height: 100%;
    }
    
    #Content {
      padding: 2rem 7.3rem 2rem;
    }
    
    .content-box {
      padding: 0.5rem 2.5rem 1rem;
    }
  
  
    }

  @media screen and (min-width: 500px) and (max-width: 600px) {

    .main {
      padding: 2rem 0 2rem;
      backdrop-filter: brightness(10%);
    }
    
        
    h1 {
      color:black;
      font-size: 2.5rem;
      font-family: "Rajdhani";
      font-weight: 700;
      padding: 3rem 5rem 2rem;
      margin-bottom: -.1px;
      backdrop-filter: brightness(100%);
      text-shadow: 0 0 0;
      }
    
    h3 { 
      color:black;
      font-size: 1.6rem;
      font-family: "Rajdhani";
      font-weight: 700;
      padding: 1rem 5rem 2rem;
      margin-bottom: -.1px;
      backdrop-filter: brightness(100%);
      text-shadow: 0 0 0;
    }
    
    h4,a {
      color: grey;
      text-align: center;
      font-size: 1.3rem;
      font-family: "Rajdhani";
      padding: 0.5rem 0.3em 1rem;    
    }
      
    .dropbox {
      height: 90px;
    }
    
    #Title {
      background-image: none;
      height: 100%;
    }
    
    #Content {
      padding: 2rem 7.3rem 2rem;
    }
    
    .content-box {
      padding: 0.5rem 1.5rem 1rem;
    }
    
    
      }

    